.navbar{

    height:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

    background:#0f172a;

    color:white;

    border-bottom:1px solid #1e293b;

}

.logo{

    font-size:28px;

    font-weight:bold;

    color:#8b5cf6;

}

nav{

    display:flex;

    gap:30px;

}

nav a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

nav a:hover{

    color:#8b5cf6;

}