.hero{

    min-height:calc(100vh - 70px);

    background:#020617;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;

}

.hero h1{

    font-size:60px;

    max-width:900px;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    color:#94a3b8;

    margin-bottom:40px;

}

.hero button{

    padding:18px 45px;

    border:none;

    border-radius:12px;

    background:#7c3aed;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.hero button:hover{

    transform:translateY(-4px);

    background:#6d28d9;

}